
@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      vertical-align: center;

    }
  
    .Login form {
      margin: auto;
      max-width: 320px;
      min-width: 20vw;
    }

    .Login h1{
        font-size: 3.2rem;
        color: #6633cc;
        text-align: center;
        margin-bottom: 1.2em;
    }
    .Login h1 span{
        color: #999
    }

    .Login button{
        background: #6633cc;
        color: white;
    }
    .Login button:hover{
        background: none;
        border:  1px solid #6633cc;
        color: #6633cc;
    }
  }